@using Orchard.Utility.Extensions;
@{
    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
}
<article class="content-item @contentTypeClassName">
    <header>
        @Display(Model.Header)
    </header>
    <blockquote>
        @Display(Model.Content)
    </blockquote>
    @if (Model.Meta != null)
            {
        <div class="metadata">
            @Display(Model.Meta)
        </div>
    }
    @if (Model.Footer != null)
    {
        <footer>
            @Display(Model.Footer)
        </footer>
    }
</article>